{{ define "main" }}
{{ $description := .Description }}

<main class="site-container">
  <section class="projects">
    <a href="{{ .Permalink }}" class="inline-block">
      <h2 class="projects-header">
        {{ .Title }}
      </h2>
    </a>

    {{ if $description }}
      <h3 class="projects-description">
        {{ $description }}
      </h3>
    {{ end }}

    <div class="projects-layout">
      {{ range $index, $page := .Data.Pages -}}
        <a class="project-item" href="{{ .RelPermalink }}">
          {{ $title := .Params.title }}

          {{ with .Params.images }}
            {{- range first 1 . }}
              <img class="project-item-image" src="{{ . }}" alt="{{ $title }}" />
            {{ end -}}
          {{ end }}

          <h3 class="project-item-title">{{ $title }}</h3>

          {{ with .Description }}
            <div class="project-item-description">
              {{ . }}
            </div>
          {{ end }}

          {{ if .Params.tags }}
            <ul class="project-item-tags">
                {{ range .Params.tags }}
                  <span class="project-item-tag">
                    {{ . }}
                  </span>
                {{ end }}
            </ul>
          {{ end }}

          <p class="project-item-link">
              View Project →
          </p>
        </a>
      {{ end -}}
    </div>
  </section>
</main>

{{ end }}
