{{ define "main" }}

{{ $permalink := .RelPermalink }}
{{$Section := .Site.GetPage "section" .Section }}

<div class="site-container">  
  <article class="project"> 
    <a href="{{ $Section.Permalink }}" class="project-back-link">← Back to list</a>

    {{ $title := .Params.title }}
    <h1 class="project-title">{{ $title }}</h1>

    {{ if .Date }}
      <p class="project-date">{{ .Date.Format "January 2, 2006" }}</p>
    {{ end }}

    {{ with .Params.images }}
      {{- range first 1 . }}
        <img class="project-image" src="{{ . }}" alt="{{ $title }}" />
      {{ end -}}
    {{ end }}

    <section class="project-content">
      {{ .Content }}
    </section>

  </article>

</div>

{{ end }}
