@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-dark-alt1: #27272a;
  --color-bg-dark-alt2: #1c1917;
  --color-bg-dark-alt3: #18181b;
  --color-bg-light-print: white;
  --color-text-shadow-default-light: rgba(0, 0, 0, 0.14);
  --color-text-shadow-default-dark: rgb(164 156 156);
  --color-text-shadow-red-light: #be7895;
  --color-text-shadow-red-dark: #be7895;
  --color-text-shadow-green-light: #bbd4ac;
  --color-text-shadow-green-dark: #4ec393;
  --color-text-shadow-blue-light: #a2d3f2;
  --color-text-shadow-blue-dark: #3285ff;

  --core-font-emoji: "Noto Emoji", system-ui;
  --core-font-brush: "Caveat Brush", sans-serif, var(--core-font-emoji); 
  --core-font-mono: "Recursive", "Monaco", "Inconsolata", monospace;
  --core-font-body: var(--core-font-mono), sans-serif;
  --core-font-scribble: "Nanum Pen Script", "Courier", serif;
  --core-font-serif: "Bitter", serif;

  --recursive-mono: "MONO" 0.5;
  --recursive-casl: "CASL" 0.5;
  --recursive-wght: "wght" 350;
  --recursive-slnt: "slnt" 0;
  --recursive-crsv: "CRSV" 0;

  --light-profile-background-image-url: url("/images/pastel.png");
  --dark-profile-background-image-url: url("/images/pastel-darker.png");

  --light-profile-border-color: #dfdfe1;
  --light-profile-border-color-alt: #cbcbe6;
  --dark-profile-border-color: #689cd0;

  --light-profile-border-color-hover: #d2d2d2;
  --light-profile-border-color-hover-alt: #d1d9fa;
  --dark-profile-border-color-hover: #76b3f0;

  --site-background-size: 10px;
  --site-background-image-url: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABYSURBVHgB7c6xDYAwDETRgwmgTsNmzMAITApNlJJsEGyJgvrq/yTL5+osAQAAU2ttr7U+MVdmmSaZsjjW9p29lLLKMMu3/HKXyX5gjHHEurM88ikAAGB6AQVIHBYQiQI2AAAAAElFTkSuQmCC');
  --dark-site-background-color: var(--color-bg-dark-alt1);
}

html {
  @apply bg-slate-50;
}

html {
  background-image: var(--site-background-image-url);
  background-size: var(--site-background-size);
}

html.dark {
  background-color: var(--color-bg-dark-alt3);
  background-blend-mode: overlay;
}

html body {
  /* background-color: rgba(0,0,0,0); */
  @apply bg-slate-50 dark:bg-zinc-900;
  --tw-bg-opacity: 0;
}

html.dark body {
  --tw-bg-opacity: 0.5;
}

body {
  @apply text-slate-900 dark:text-slate-50 dark:selection:bg-blue-400;
  @apply dark:bg-zinc-800 ;

  font-variation-settings: 
    var(--recursive-mono), 
    var(--recursive-casl),
    var(--recursive-wght), 
    var(--recursive-slnt), 
    var(--recursive-crsv);
  font-family: var(--core-font-body);
  animation: fadeIn 0.667s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

article h1, article h2 {
  @apply text-shadow;
  @apply font-normal !important;
  font-variation-settings: initial;
  font-family: var(--core-font-serif);
}

aside {
  font-size: 1.4rem;
  font-family: var(--core-font-serif);
}

details > summary {
  list-style: none;
  position: relative;
}
details + .content-divider {
  margin-top: 0;
}
details[open] + .content-divider {
  margin-top: 2rem;
}
summary::-webkit-details-marker {
  display: none
}
summary::before {
  visibility: hidden;
  content: ' ';
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 2px;
  top: 32px;
  position: absolute;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjQgMjJoLTI0bDEyLTIweiIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  width: 24px;
  height: 24px;
  rotate: 90deg;
  transform-origin: center;
  transform: scale(0.5);
}
details[open] summary:before {
  rotate: 180deg;
}
details[open] > summary + ul {
  list-style-type: none;

  li {
    position: relative;
    &::before {
      content: " ";
      height: 24px;
      width: 24px;
      position: absolute;
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMiIvPjwvc3ZnPg==");
      left: -26px;
      transform-origin: center;
      transform: scale(0.25);
      background-color: var(--tw-prose-bullets);
      top: 4px;
    }   
  } 
}

main section h2, 
main > section > h3 {
  @apply font-serif text-shadow;
  font-variation-settings: initial;
  font-family: var(--core-font-serif);
}

aside ul li span {
  font-size: 1em;
  line-height: 1.75em;
  font-family: var(--core-font-body);
}

* {
  scrollbar-width: thin;
  scrollbar-color: theme("colors.slate.400") theme("colors.slate.200");
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  @apply bg-slate-200;
}
*::-webkit-scrollbar-thumb {
  @apply bg-slate-400;
  border-radius: 6px;
}

html.dark *::-webkit-scrollbar-track {
  @apply bg-zinc-600;
}
html.dark *::-webkit-scrollbar-thumb {
  @apply bg-zinc-400;
}

html.dark * {
  scrollbar-color: theme("colors.slate.400") theme("colors.slate.600");
}

.profile-img {
  @apply rounded-full;
  max-width: 50%;
  border-top-width: 0.4rem;
  border-bottom-width: 0.4rem;
  border-style: solid;
  border-color: var(--light-profile-border-color-alt);
  margin-bottom: 0;
  margin-top: 0;
  border: none;
  padding: 10px;
  opacity: 0.7;
  --profile-image-drop-shadow-size: 30px;
  --profile-image-hue-rotate: -20deg;
  filter: hue-rotate(var(--profile-image-hue-rotate)) drop-shadow(0px 5px var(--profile-image-drop-shadow-size) white) grayscale(20%) contrast(100%);
}

html.dark .profile-img {
  --profile-image-hue-rotate: 60deg;
  border-color: var(--dark-profile-border-color);
  opacity: 0.8;
}

html.dark .profile-img:hover {
  border-color: var(--dark-profile-border-color-hover);
}

.profile-img:hover {
  --profile-image-drop-shadow-size: 34px;
  border-color: var(--light-profile-border-color-hover-alt);
}

.sidebar {
  @apply border-r px-4 z-20 min-h-screen;
  @apply absolute top-0 left-0 bottom-0 w-3/4;
  @apply flex flex-col gap-2.5 justify-between;
  @apply bg-slate-50 dark:bg-zinc-800 border-slate-200 dark:border-zinc-900;
  @apply will-change-transform transform transition-transform -translate-x-full;
  --tw-bg-opacity: 0.8;
  --tw-border-opacity: 0.8;
  border-right-width: 3px;
}

.sidebar-menu {
  @apply list-none flex flex-col gap-[0.1rem] rounded-md bg-[#EBEDF0] dark:bg-zinc-800;
}

.sidebar-menu-link {
  @apply px-2 py-3 md:py-1.5 rounded text-sm flex items-center justify-center md:justify-between text-center;

  &.active {
    @apply bg-zinc-800 text-white dark:bg-[#EBEDF0] dark:text-slate-800 dark:selection:bg-slate-400;
  }

  &.inactive {
    @apply bg-[#EBEDF0] hover:bg-slate-200 hover:bg-[#E8EAEC] dark:hover:bg-zinc-700 dark:hover:bg-zinc-700 dark:bg-zinc-800;
  }
}

.sidebar-navigation {
  @apply flex flex-col sticky pt-3 top-0;
}

.sidebar-controls {
  @apply font-bold mb-5 flex items-center gap-2 justify-between;
}

.sidebar-control {
  @apply rounded;
  @apply hover:bg-slate-200 dark:hover:bg-zinc-700;
}

.sidebar-control.close-sidebar {
  @apply md:hidden;
  @apply p-1 text-slate-800 dark:text-zinc-50;
}

.sidebar-control.dark-mode-toggle {
  @apply p-2;
}

.sidebar .site-title {
  --recursive-mono: "MONO" 0;
  --recursive-casl: "CASL" 0.2;
  --recursive-wght: "wght" 402;
  --recursive-slnt: "slnt" 0;
  --recursive-crsv: "CRSV" 0.5;
  font-family: var(--core-font-body);
  font-variation-settings: 
    var(--recursive-mono), 
    var(--recursive-casl),
    var(--recursive-wght), 
    var(--recursive-slnt), 
    var(--recursive-crsv);
}

.sidebar .social-links {
  /* border-top-width: 2px; */
}

.social-links {
  @apply list-none flex flex-wrap justify-center gap-1 pt-2 pb-2 sticky bg-[#EBEDF0] rounded-md bottom-[0.5rem] dark:bg-zinc-800;
}

.social-link {
  @apply px-2 py-1.5 rounded-md text-sm block text-slate-800 dark:text-slate-50 hover:bg-slate-200 dark:hover:bg-zinc-700;
}

.menu-overlay {
  @apply md:hidden;
  @apply pointer-events-auto;
  @apply fixed left-0 top-0 w-full h-full z-10;
  @apply transition duration-200 ease-in-out;
  @apply bg-slate-700 bg-opacity-5 inset-0;
}

.sidebar + .menu-overlay + .menu-trigger {
  visibility: hidden;
}

.sidebar + .menu-overlay.hidden + .menu-trigger {
  visibility: visible;
}

.dark .sidebar {
  --tw-bg-opacity: 0.8;
  --tw-border-opacity: 0.8;
}

@screen md {
  .sidebar {
    @apply relative translate-x-0 w-60;
  }
}

.site-container {
  @apply flex-1 overflow-y-auto flex relative;
}

.site-content {
  @apply px-6 py-20 mx-auto h-fit w-full lg:w-[740px];
  @apply prose prose-lg dark:prose-invert prose-img:mx-auto;
}

.site-body {
  @apply flex relative h-full min-h-screen;
}

.site-main {
  @apply flex-1;
}

.profile-image {
  background-image: var(--light-profile-background-image-url);
  background-position: 50% 50%;
  background-size: 78%;
  background-repeat: no-repeat;
  padding-top: 2em;
  padding-bottom: 2em;
}

.profile-image-background {
  filter: opacity(0.7);
}

@screen md {
  .profile-img {
    padding: 30px;
  }

  .profile-image {
    background-size: 68%;
  }
}

html.dark .profile-image-background {
  /* filter: saturate(9) contrast(0.9) hue-rotate(58deg) brightness(0.9);
  filter: saturate(30) contrast(0.9) hue-rotate(57deg) brightness(0.7) opacity(1);
  filter: saturate(30) contrast(0.9) hue-rotate(48deg) brightness(0.8) opacity(1);
  filter: saturate(10) contrast(0.7) hue-rotate(42deg) brightness(1) opacity(1); */
  filter: saturate(10) contrast(0.7) hue-rotate(42deg) brightness(0.3) opacity(1);
}
html.dark .profile-image-foreground {
  /* filter: saturate(9) brightness(1) hue-rotate(58deg);
  filter: saturate(5) brightness(0.8) hue-rotate(8deg) opacity(1) contrast(1.6);
  filter: saturate(5) brightness(0.8) hue-rotate(8deg) opacity(0.8) contrast(1.6);
  filter: saturate(5) brightness(0.8) hue-rotate(37deg) opacity(0.8) contrast(1.6); */
  filter: saturate(5) brightness(0.8) hue-rotate(37deg) opacity(1) contrast(1.6);
}

html.dark .profile-img {
  /* filter: hue-rotate(var(--profile-image-hue-rotate)) drop-shadow(0px 5px var(--profile-image-drop-shadow-size) white) grayscale(20%) contrast(100%) saturate(0.25) brightness(1);
  filter: hue-rotate(var(--profile-image-hue-rotate)) drop-shadow(0px 5px var(--profile-image-drop-shadow-size) white) grayscale(20%) contrast(100%) saturate(0.25) brightness(1) opacity(0.8);
  filter: hue-rotate(var(--profile-image-hue-rotate)) drop-shadow(0px 5px var(--profile-image-drop-shadow-size) white) grayscale(20%) contrast(100%) saturate(0.25) brightness(1) opacity(0.9);
  filter: hue-rotate(var(--profile-image-hue-rotate)) drop-shadow(0px 5px var(--profile-image-drop-shadow-size) white) grayscale(65%) contrast(100%) saturate(0.25) brightness(1) opacity(0.9); */
  --profile-image-hue-rotate: -70deg;
  filter: hue-rotate(var(--profile-image-hue-rotate)) drop-shadow(0px 5px var(--profile-image-drop-shadow-size) white) grayscale(65%) contrast(100%) saturate(0.25) brightness(1) opacity(0.9);
}

.profile-image:before,
.profile-image:after {
  content: " ";
  position: absolute;
  visibility: hidden;
}

.profile-image:before {
  background-image: var(--dark-profile-background-image-url);
}

.profile-image:after {
  background-image: var(--light-profile-background-image-url);
}

.core-font-emoji {
  font-family: var(--core-font-emoji);
}

.main-header {
  @apply font-serif font-light text-center;
  font-family: var(--core-font-serif);
  font-variation-settings: initial;
  --color-text-shadow: var(--color-text-shadow-default-light);
  text-shadow: 1.3px 2px 0px var(--color-text-shadow);
  margin-left: -0.5rem;
}

html.dark .main-header {
  --color-text-shadow: var(--color-text-shadow-default-dark);
}

.main-subheader {
  @apply font-serif font-light text-shadow text-center;
  font-variation-settings: initial;
  font-family: var(--core-font-serif);
  margin-top: 0.8333333em;
  margin-bottom: 0.8333333em;
}

.profile-images {
  @apply flex relative justify-center mb-[20px];
}

.profile-image-background {
  @apply flex-1 relative left-[5px];
}

.profile-image-foreground {
  @apply absolute w-[100%] h-[100%] opacity-[0.8];
}

.text-shadow {
  --color-text-shadow: var(--color-text-shadow-default-light);
  text-shadow: 1.5px 0.8px 0px var(--color-text-shadow);
}

.text-shadow-red,
.text-shadow-blue,
.text-shadow-green {
  --color-text-shadow: var(--color-text-shadow-default-light);
  text-shadow: 1.3px 1px 0.3px var(--color-text-shadow);
}

html.dark .text-shadow,
html.dark .text-shadow-red,
html.dark .text-shadow-blue,
html.dark .text-shadow-green {
  --color-text-shadow: var(--color-text-shadow-default-dark);
}

.text-shadow-red {
  --color-text-shadow: var(--color-text-shadow-red-light);
}

html.dark .text-shadow-red {
  --color-text-shadow: var(--color-text-shadow-red-dark);
}

.text-shadow-blue {
  --color-text-shadow: var(--color-text-shadow-blue-light);
}

html.dark .text-shadow-blue {
  --color-text-shadow: var(--color-text-shadow-blue-dark);
}

.text-shadow-green {
  --color-text-shadow: var(--color-text-shadow-green-light);
}

html.dark .text-shadow-green {
  --color-text-shadow: var(--color-text-shadow-green-dark);
}

.resume .prose {
  max-width: 74ch;
}

.resume > article {
  padding-left: 3rem!important;
  padding-right: 3rem!important;
}

.resume .main-subheader {
  margin-top: 2rem;
}

.prose strong a {
  font-weight: 700;
}

.content-divider {
  @apply border-slate-200 dark:border-zinc-900;
  border-top-width: 2px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.menu-trigger {
  /* This is for aligning the menu open icon with the menu close icon */
  margin-top: 1px;
}

.projects .project-item {
  @apply bg-slate-50 dark:bg-zinc-800 border-slate-200 dark:border-zinc-900;
  --tw-bg-opacity: 0.8;
  --tw-border-opacity: 0.8;
  border-width: 2px;
  border-radius:  0.875rem;
}

.project-item {
  @apply block p-2 row-span-2;
}

.project-item-image {
  @apply aspect-video rounded-md max-w-full w-full mb-4;
}

.project-item-title {
  @apply px-2 text-lg font-semibold lg:text-xl 2xl:text-3xl;
}

.project-item-description {
  @apply mt-1 px-2 text-sm text-slate-500 dark:text-slate-400 line-clamp-2;
}

.project-item-tags {
  @apply mt-3 px-2;
}

.project-item-tag {
  @apply 
    py-1 
    px-2 
    mb-1  
    inline-block 
    leading-none 
    text-center 
    whitespace-nowrap 
    align-baseline 
    font-light
    bg-[#6cc3c8]
    bg-[#f7d6b4]
    bg-[#80808045]
    text-slate-800
    dark:text-slate-200
    rounded-full;
}

.project-item-link {
  @apply 
    px-2 
    mt-3 
    mb-1 
    underline 
    decoration-slate-500 
    text-slate-900 
    underline-offset-8 
    font-medium 
    hover:text-slate-500 
    hover:decoration-slate-900 
    dark:text-slate-200 
    dark:decoration-slate-400 
    dark:hover:text-slate-400 
    dark:hover:decoration-slate-200;
}

.projects {
  @apply w-full md:max-w-xl xl:max-w-4xl 2xl:max-w-7xl mx-auto flex flex-col px-6 py-20;
}

.projects-header {
  @apply font-normal text-5xl px-5 mb-2 inline-block;
}

.projects-description {
  @apply px-5 py-4 text-2xl font-light !leading-tight content-center;
}

.projects-layout {
  @apply space-y-0 grid grid-cols-1 lg:grid-cols-2 gap-2 lg:gap-4;
}

.project {
  @apply px-6 py-20 w-full mx-auto prose lg:prose-lg dark:prose-invert h-fit prose-img:mx-auto;
}

.project-back-link {
  @apply
    px-2
    !no-underline
    !text-slate-500
    !mb-2
    !inline-block
    !font-normal
    !text-sm
    hover:!text-slate-700
    dark:hover:!text-slate-400;
}

.project-title {
  @apply px-2 text-5xl font-normal !mb-2;
}

.project-date {
  @apply px-2 text-sm text-slate-500 !mb-8;
}

.project-image {
  @apply rounded-md aspect-video max-w-full w-full mb-4;
}

.project-content {
  @apply px-2;
}

html .sidebar .navigation {
  --tw-bg-opacity: 0.8;
}

html .sidebar .navigation li a,
html .sidebar .social-links {
  --tw-bg-opacity: 0.8;
}

.toggle-sidebar {
  @apply md:hidden;
  @apply absolute p-1 rounded top-3 left-4 z-10;
   
  @apply text-slate-800 dark:text-slate-50;
  @apply hover:bg-slate-200 dark:hover:bg-zinc-700;
}

@media print {
  html {
    background-color: var(--color-bg-light-print)!important;
  }

  #skills {
    page-break-before: always;
  }
  
  #highlights,
  #highlights + ul > li:nth-of-type(1) > ul > li:nth-of-type(2) {
    page-break-before: always;
  }

  .resume article,
  .site-container > div.px-6 {
    padding-left: 3rem!important;
    padding-right: 3rem!important;
  }

  .sidebar,
  .sidebar *,
  .menu-trigger {
    display: none!important;
  }

  .top-divider + ul > li,
  .top-divider + ul > li + li {
    display: none;
  }

  .top-divider + ul > li:last-child {
    display: block;
  }

  .bottom-divider {
    display: none;
  }

  .bottom-divider + p {
    visibility: hidden;
  }
}
