@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-slate-50;
}

html {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABYSURBVHgB7c6xDYAwDETRgwmgTsNmzMAITApNlJJsEGyJgvrq/yTL5+osAQAAU2ttr7U+MVdmmSaZsjjW9p29lLLKMMu3/HKXyX5gjHHEurM88ikAAGB6AQVIHBYQiQI2AAAAAElFTkSuQmCC');
  background-size: 20px;
}

html.dark {
  /* background-color: #18181b; */
  background-color: #27272a;
  /* background-color: #1c1917; */
  background-color: #18181b;
  background-blend-mode: overlay;
}

html body {
  background-color: rgba(0,0,0,0);
  @apply dark:bg-zinc-900;
}
html.dark body {
  --tw-bg-opacity: 0.5;
}

body {
  animation: fadeIn 0.667s;
  font-family: 'Short Stack', system-ui;
  @apply text-slate-900 dark:text-slate-50 dark:selection:bg-blue-400;
  @apply dark:bg-zinc-800 ;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

article h1, article h2 {
  font-family: "Caveat Brush", "Noto Emoji", system-ui;
}

aside {
  font-size: 1.4rem;
  font-family: "Caveat Brush", "Noto Emoji", system-ui;
}

main section h2 {
  font-family: "Caveat Brush", "Noto Emoji", system-ui;
}

main > section > h3 {
  font-family: 'Nanum Pen Script', 'Noto Emoji', Courier;
}

aside ul li span {
  font-size: 1.4em;
  line-height: 1.25em;
  font-family: 'Nanum Pen Script', 'Noto Emoji', Courier;
}

* {
  scrollbar-width: thin;
  scrollbar-color: theme("colors.slate.400") theme("colors.slate.200");
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  @apply bg-slate-200;
}
*::-webkit-scrollbar-thumb {
  @apply bg-slate-400;
  border-radius: 6px;
}

html.dark *::-webkit-scrollbar-track {
  @apply bg-zinc-600;
}
html.dark *::-webkit-scrollbar-thumb {
  @apply bg-zinc-400;
}

html.dark * {
  scrollbar-color: theme("colors.slate.400") theme("colors.slate.600");
}

html.dark .image-container {
  /* background-color: theme("colors.slate.900"); */
  /* background-blend-mode: color-dodge; */
  background-image: url("/images/pastel-darker.png");
}

.profile-img {
  border-style: solid;
  border-color: #dfdfe1;
  border-color: #cbcbe6;
  margin-bottom: 0;
  margin-top: 0;
}

html.dark .profile-img {
  border-color: #689cd0;
}

html.dark .profile-img:hover {
  border-color: #76b3f0;
}

.profile-img:hover {
  border-color: #d2d2d2;
  border-color: #d1d9fa;
}

.sidebar {
  @apply border-r px-4 z-20 min-h-screen;
  @apply absolute top-0 left-0 bottom-0 w-3/4;
  @apply flex flex-col gap-2.5 justify-between;
  @apply bg-slate-50 dark:bg-zinc-800 border-slate-200 dark:border-zinc-900;
  @apply will-change-transform transform transition-transform -translate-x-full;
  --tw-bg-opacity: 0.8;
  --tw-border-opacity: 0.8;
  border-right-width: 3px;
}

.dark .sidebar {
  --tw-bg-opacity: 0.8;
  --tw-border-opacity: 0.8;
}

@screen md {
  .sidebar {
    @apply relative translate-x-0 w-60;
  }
}

.site-container {
  @apply flex-1 overflow-y-auto;
}

.image-container {
  background-image: url("/images/pastel.png");
  background-position: 50% 50%;
  background-size: 68%;
  background-repeat: no-repeat;
  padding-top: 2em;
  padding-bottom: 2em;
}

.main-header {
  font-family: "Caveat Brush", "Noto Emoji", system-ui;
}

.main-subheader {
  font-family: 'Nanum Pen Script', "Noto Emoji", Courier;
}

.resume .main-subheader {
  margin-top: 2rem;
}

.prose strong a {
  font-weight: 700;
}

.top-divider {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.bottom-divider {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
