@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-dark-alt1: #27272a;
  --color-bg-dark-alt2: #1c1917;
  --color-bg-dark-alt3: #18181b;
  --color-bg-light-print: white;
  --color-text-shadow-default-light: rgba(0, 0, 0, 0.14);
  --color-text-shadow-default-dark: rgb(164 156 156);
  --color-text-shadow-red-light: #be7895;
  --color-text-shadow-red-dark: #be7895;
  --color-text-shadow-green-light: #bbd4ac;
  --color-text-shadow-green-dark: #4ec393;
  --color-text-shadow-blue-light: #a2d3f2;
  --color-text-shadow-blue-dark: #3285ff;

  --core-font-emoji: "Noto Emoji", system-ui;
  --core-font-brush: "Caveat Brush", sans-serif, var(--core-font-emoji); 
  --core-font-mono: "Recursive", "Monaco", "Inconsolata", monospace;
  --core-font-body: var(--core-font-mono), sans-serif;
  --core-font-scribble: "Nanum Pen Script", "Courier", serif;
  --core-font-serif: "Bitter", serif;

  --recursive-mono: "MONO" 0.5;
  --recursive-casl: "CASL" 0.5;
  --recursive-wght: "wght" 350;
  --recursive-slnt: "slnt" 0;
  --recursive-crsv: "CRSV" 0;

  --light-profile-background-image-url: url("/images/pastel.png");
  --dark-profile-background-image-url: url("/images/pastel-darker.png");

  --light-profile-border-color: #dfdfe1;
  --light-profile-border-color-alt: #cbcbe6;
  --dark-profile-border-color: #689cd0;

  --light-profile-border-color-hover: #d2d2d2;
  --light-profile-border-color-hover-alt: #d1d9fa;
  --dark-profile-border-color-hover: #76b3f0;

  --site-background-size: 10px;
  --site-background-image-url: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABYSURBVHgB7c6xDYAwDETRgwmgTsNmzMAITApNlJJsEGyJgvrq/yTL5+osAQAAU2ttr7U+MVdmmSaZsjjW9p29lLLKMMu3/HKXyX5gjHHEurM88ikAAGB6AQVIHBYQiQI2AAAAAElFTkSuQmCC');
  --dark-site-background-color: var(--color-bg-dark-alt1);
}

html {
  @apply bg-slate-50;
}

html {
  background-image: var(--site-background-image-url);
  background-size: var(--site-background-size);
}

html.dark {
  background-color: var(--color-bg-dark-alt3);
  background-blend-mode: overlay;
}

html body {
  /* background-color: rgba(0,0,0,0); */
  @apply bg-slate-50 dark:bg-zinc-900;
  --tw-bg-opacity: 0;
}

html.dark body {
  --tw-bg-opacity: 0.5;
}

body {
  @apply text-slate-900 dark:text-slate-50 dark:selection:bg-blue-400;
  @apply dark:bg-zinc-800 ;

  font-variation-settings: 
    var(--recursive-mono), 
    var(--recursive-casl),
    var(--recursive-wght), 
    var(--recursive-slnt), 
    var(--recursive-crsv);
  font-family: var(--core-font-body);
  animation: fadeIn 0.667s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

article h1, article h2 {
  @apply text-shadow;
  @apply font-normal !important;
  font-variation-settings: initial;
  font-family: var(--core-font-serif);
}

aside {
  font-size: 1.4rem;
  font-family: var(--core-font-serif);
}

details > summary {
  list-style: none;
  position: relative;
}
details + .content-divider {
  margin-top: 0;
}
details[open] + .content-divider {
  margin-top: 2rem;
}
summary::-webkit-details-marker {
  display: none
}
summary::before {
  content: ' ';
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 2px;
  top: 32px;
  position: absolute;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjQgMjJoLTI0bDEyLTIweiIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  width: 24px;
  height: 24px;
  rotate: 90deg;
  transform-origin: center;
  transform: scale(0.5);
}
details[open] summary:before {
  rotate: 180deg;
}
details[open] > summary + ul {
  list-style-type: none;

  li {
    position: relative;
    &::before {
      content: " ";
      height: 24px;
      width: 24px;
      position: absolute;
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMiIvPjwvc3ZnPg==");
      left: -26px;
      transform-origin: center;
      transform: scale(0.25);
      background-color: var(--tw-prose-bullets);
      top: 4px;
    }   
  } 
}

main section h2, 
main > section > h3 {
  @apply font-serif text-shadow;
  font-variation-settings: initial;
  font-family: var(--core-font-serif);
}

aside ul li span {
  font-size: 1em;
  line-height: 1.75em;
  font-family: var(--core-font-body);
}

* {
  scrollbar-width: thin;
  scrollbar-color: theme("colors.slate.400") theme("colors.slate.200");
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  @apply bg-slate-200;
}
*::-webkit-scrollbar-thumb {
  @apply bg-slate-400;
  border-radius: 6px;
}

html.dark *::-webkit-scrollbar-track {
  @apply bg-zinc-600;
}
html.dark *::-webkit-scrollbar-thumb {
  @apply bg-zinc-400;
}

html.dark * {
  scrollbar-color: theme("colors.slate.400") theme("colors.slate.600");
}

.profile-img {
  @apply rounded-full;
  max-width: 50%;
  border-top-width: 0.4rem;
  border-bottom-width: 0.4rem;
  border-style: solid;
  border-color: var(--light-profile-border-color-alt);
  margin-bottom: 0;
  margin-top: 0;
  border: none;
  padding: 10px;
  opacity: 0.7;
  --profile-image-drop-shadow-size: 30px;
  --profile-image-hue-rotate: -20deg;
  filter: hue-rotate(var(--profile-image-hue-rotate)) drop-shadow(0px 5px var(--profile-image-drop-shadow-size) white) grayscale(20%) contrast(100%);
}

html.dark .profile-img {
  --profile-image-hue-rotate: 60deg;
  border-color: var(--dark-profile-border-color);
  opacity: 0.8;
}

html.dark .profile-img:hover {
  border-color: var(--dark-profile-border-color-hover);
}

.profile-img:hover {
  --profile-image-drop-shadow-size: 34px;
  border-color: var(--light-profile-border-color-hover-alt);
}

.sidebar {
  @apply border-r px-4 z-20 min-h-screen;
  @apply absolute top-0 left-0 bottom-0 w-3/4;
  @apply flex flex-col gap-2.5 justify-between;
  @apply bg-slate-50 dark:bg-zinc-800 border-slate-200 dark:border-zinc-900;
  @apply will-change-transform transform transition-transform -translate-x-full;
  --tw-bg-opacity: 0.8;
  --tw-border-opacity: 0.8;
  border-right-width: 3px;
}

.sidebar .site-title {
  --recursive-mono: "MONO" 0;
  --recursive-casl: "CASL" 0.2;
  --recursive-wght: "wght" 402;
  --recursive-slnt: "slnt" 0;
  --recursive-crsv: "CRSV" 0.5;
  font-family: var(--core-font-body);
  font-variation-settings: 
    var(--recursive-mono), 
    var(--recursive-casl),
    var(--recursive-wght), 
    var(--recursive-slnt), 
    var(--recursive-crsv);
}

.sidebar .social-links {
  /* border-top-width: 2px; */
}

.sidebar + .menu-overlay + .menu-trigger {
  visibility: hidden;
}

.sidebar + .menu-overlay.hidden + .menu-trigger {
  visibility: visible;
}

.dark .sidebar {
  --tw-bg-opacity: 0.8;
  --tw-border-opacity: 0.8;
}

@screen md {
  .sidebar {
    @apply relative translate-x-0 w-60;
  }
}

.site-container {
  @apply flex-1 overflow-y-auto;
}

.image-container {
  background-image: var(--light-profile-background-image-url);
  background-position: 50% 50%;
  background-size: 78%;
  background-repeat: no-repeat;
  padding-top: 2em;
  padding-bottom: 2em;
}

.image-container:first-child {
  filter: opacity(0.7);
}

@screen md {
  .profile-img {
    padding: 30px;
  }

  .image-container {
    background-size: 68%;
  }
}

html.dark .image-container:first-child {
  /* filter: saturate(9) contrast(0.9) hue-rotate(58deg) brightness(0.9);
  filter: saturate(30) contrast(0.9) hue-rotate(57deg) brightness(0.7) opacity(1);
  filter: saturate(30) contrast(0.9) hue-rotate(48deg) brightness(0.8) opacity(1);
  filter: saturate(10) contrast(0.7) hue-rotate(42deg) brightness(1) opacity(1); */
  filter: saturate(10) contrast(0.7) hue-rotate(42deg) brightness(0.3) opacity(1);
}
html.dark .image-container:last-child {
  /* filter: saturate(9) brightness(1) hue-rotate(58deg);
  filter: saturate(5) brightness(0.8) hue-rotate(8deg) opacity(1) contrast(1.6);
  filter: saturate(5) brightness(0.8) hue-rotate(8deg) opacity(0.8) contrast(1.6);
  filter: saturate(5) brightness(0.8) hue-rotate(37deg) opacity(0.8) contrast(1.6); */
  filter: saturate(5) brightness(0.8) hue-rotate(37deg) opacity(1) contrast(1.6);
}

html.dark .profile-img {
  /* filter: hue-rotate(var(--profile-image-hue-rotate)) drop-shadow(0px 5px var(--profile-image-drop-shadow-size) white) grayscale(20%) contrast(100%) saturate(0.25) brightness(1);
  filter: hue-rotate(var(--profile-image-hue-rotate)) drop-shadow(0px 5px var(--profile-image-drop-shadow-size) white) grayscale(20%) contrast(100%) saturate(0.25) brightness(1) opacity(0.8);
  filter: hue-rotate(var(--profile-image-hue-rotate)) drop-shadow(0px 5px var(--profile-image-drop-shadow-size) white) grayscale(20%) contrast(100%) saturate(0.25) brightness(1) opacity(0.9);
  filter: hue-rotate(var(--profile-image-hue-rotate)) drop-shadow(0px 5px var(--profile-image-drop-shadow-size) white) grayscale(65%) contrast(100%) saturate(0.25) brightness(1) opacity(0.9); */
  --profile-image-hue-rotate: -70deg;
  filter: hue-rotate(var(--profile-image-hue-rotate)) drop-shadow(0px 5px var(--profile-image-drop-shadow-size) white) grayscale(65%) contrast(100%) saturate(0.25) brightness(1) opacity(0.9);
}

.image-container:before,
.image-container:after {
  content: " ";
  position: absolute;
  visibility: hidden;
}

.image-container:before {
  background-image: var(--dark-profile-background-image-url);
}

.image-container:after {
  background-image: var(--light-profile-background-image-url);
}

.core-font-emoji {
  font-family: var(--core-font-emoji);
}

.main-header {
  @apply font-serif;
  font-family: var(--core-font-serif);
  font-variation-settings: initial;
  --color-text-shadow: var(--color-text-shadow-default-light);
  text-shadow: 1.3px 2px 0px var(--color-text-shadow);
  margin-left: -0.5rem;
}

html.dark .main-header {
  --color-text-shadow: var(--color-text-shadow-default-dark);
}

.main-subheader {
  @apply font-serif;
  font-variation-settings: initial;
  font-family: var(--core-font-serif);
  margin-top: 0.8333333em;
  margin-bottom: 0.8333333em;
}

.text-shadow {
  --color-text-shadow: var(--color-text-shadow-default-light);
  text-shadow: 1.5px 0.8px 0px var(--color-text-shadow);
}

.text-shadow-red,
.text-shadow-blue,
.text-shadow-green {
  --color-text-shadow: var(--color-text-shadow-default-light);
  text-shadow: 1.3px 1px 0.3px var(--color-text-shadow);
}

html.dark .text-shadow,
html.dark .text-shadow-red,
html.dark .text-shadow-blue,
html.dark .text-shadow-green {
  --color-text-shadow: var(--color-text-shadow-default-dark);
}

.text-shadow-red {
  --color-text-shadow: var(--color-text-shadow-red-light);
}

html.dark .text-shadow-red {
  --color-text-shadow: var(--color-text-shadow-red-dark);
}

.text-shadow-blue {
  --color-text-shadow: var(--color-text-shadow-blue-light);
}

html.dark .text-shadow-blue {
  --color-text-shadow: var(--color-text-shadow-blue-dark);
}

.text-shadow-green {
  --color-text-shadow: var(--color-text-shadow-green-light);
}

html.dark .text-shadow-green {
  --color-text-shadow: var(--color-text-shadow-green-dark);
}

.resume .prose {
  max-width: 74ch;
}

.resume > article {
  padding-left: 3rem!important;
  padding-right: 3rem!important;
}

.resume .main-subheader {
  margin-top: 2rem;
}

.prose strong a {
  font-weight: 700;
}

.content-divider {
  @apply border-slate-200 dark:border-zinc-900;
  border-top-width: 2px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.menu-trigger {
  /* This is for aligning the menu open icon with the menu close icon */
  margin-top: 1px;
}

.projects .block {
  @apply bg-slate-50 dark:bg-zinc-800 border-slate-200 dark:border-zinc-900;
  --tw-bg-opacity: 0.8;
  --tw-border-opacity: 0.8;
  border-width: 2px;
  border-radius: 0.875rem;
}

html .sidebar .navigation {
  --tw-bg-opacity: 0.8;
}

html .sidebar .navigation li a,
html .sidebar .social-links {
  --tw-bg-opacity: 0.8;
}

@media print {
  html {
    background-color: var(--color-bg-light-print)!important;
  }

  #skills {
    page-break-before: always;
  }
  
  #highlights,
  #highlights + ul > li:nth-of-type(1) > ul > li:nth-of-type(2) {
    page-break-before: always;
  }

  .resume article,
  .site-container > div.px-6 {
    padding-left: 3rem!important;
    padding-right: 3rem!important;
  }

  .sidebar,
  .sidebar *,
  .menu-trigger {
    display: none!important;
  }

  .top-divider + ul > li,
  .top-divider + ul > li + li {
    display: none;
  }

  .top-divider + ul > li:last-child {
    display: block;
  }

  .bottom-divider {
    display: none;
  }

  .bottom-divider + p {
    visibility: hidden;
  }
}
