<aside class="sidebar">
  <div class="sidebar-navigation">
    <p class="sidebar-controls">
      <button aria-label="Close sidebar" class="sidebar-control close-sidebar menu-trigger-close">
        {{- partial "icon/closeIcon.html" . -}}
      </button>
      <a href="/" class="px-2">
        <span class="site-title text-shadow">{{ .Site.Title }}</span>
      </a>
      <button aria-label="Toggle dark mode" class="sidebar-control dark-mode-toggle">
        {{- partial "icon/sunIcon.html" . -}}
      </button>
    </p>

    {{ $permalink := cond (eq (len .RelPermalink) 1) .RelPermalink (strings.TrimRight "/" .RelPermalink) }}
    <ul class="sidebar-menu navigation">
      {{ range .Site.Menus.main }}

      {{ $activeClass := "" }}
      {{- if eq .URL $permalink }}
        {{ $activeClass = "active" }}
      {{ else }}
        {{ $activeClass = "inactive" }}
      {{ end -}}

      <li>
        <a class="sidebar-menu-link {{ $activeClass }}" href="{{ .URL }}"
          {{ if strings.HasPrefix .URL "http" }} target="_blank" rel="noopener" {{ end }}>
          <span>{{ .Name }}</span>
          {{ if strings.HasPrefix .URL "http" }}
            <span>
              {{- partial "icon/externalIcon.html" . -}}
            </span>
          {{ end }}
        </a>
      </li>
      {{ end }}
    </ul>
  </div>

  <ul class="social-links">
    {{ range .Site.Menus.social }}
    <li>
      <a class="social-link" href="{{ .URL }}" target="_blank" rel="noopener noreferrer">
        <span class="sr-only">{{ .Name }}</span>
        {{ if eq .Name "Twitter" }}
        <span>{{- partial "icon/twitterIcon.html" . -}}</span>
        {{ else if eq .Name "GitHub" }}
        <span>{{- partial "icon/githubIcon.html" . -}}</span>
        {{ else if eq .Name "LinkedIn" }}
        <span>{{- partial "icon/linkedinIcon.html" . -}}</span>
        {{ else if eq .Name "Instagram" }}
        <span>{{- partial "icon/instagramIcon.html" . -}}</span>
        {{ else if eq .Name "Dribbble" }}
        <span>{{- partial "icon/dribbbleIcon.html" . -}}</span>
        {{ else if eq .Name "Codepen" }}
        <span>{{- partial "icon/codepenIcon.html" . -}}</span>
        {{ else if eq .Name "Twitch" }}
        <span>{{- partial "icon/twitchIcon.html" . -}}</span>
        {{ else if eq .Name "Email" }}
        <span>{{- partial "icon/emailIcon.html" . -}}</span>
        {{ else if eq .Name "RSS" }}
        <span>{{- partial "icon/rssfeedIcon.html" . -}}</span>
        {{ end }}
      </a>
    </li>
    {{ end }}
  </ul>
</aside>

<div class="menu-overlay hidden">
</div>

<button aria-label="Toggle Sidebar" class="toggle-sidebar menu-trigger">
  {{- partial "icon/menuIcon.html" . -}}
</button>
